<%= simple_form_for [:manage, @event] do |f| %>
  <%= f.input :title  %>
  <%= f.input :when %>
  <%= f.submit 'Создать' %>

  <div class="related_items_wrapper">
    <div class="sticky_elements">
      <% if @related_items %>
        <% @related_items.each do |key, value| %>
          <div class="element">
            <%= link_to value["title"], value["url"] %>
            <%= hidden_field_tag "event[related][]", key, class: "hidden_ids" %>
            <%= hidden_field_tag "event[related_link][]", value["url"], class: "hidden_links" %>
            <%= hidden_field_tag "event[related_title][]", value["title"], class: "hidden_titles" %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class='select_and_search'>
      <%= select_tag 'type_select', options_for_select([ ['Афиша', 'http://znaigorod.ru/api/afisha_collection'],
                                                         ['Обзоры', 'http://znaigorod.ru/api/review_collection'],
                                                         ['Фотостримы', 'http://znaigorod.ru/api/photogallery_collection'] ]) %>
       <%= button_tag '', type: 'button', remote: true, class: 'sbm' %>
       <%= text_field_tag :search, '', placeholder: 'Поиск'  %>
     </div>

    <ul class='posters'></ul>
  </div>
<% end %>
