<div class="send_request">
  <h1>Анкета-заявка на участие в открытом конкурсе</h1>
  <div class="right">
    <%= simple_form_for @proposal do |f| %>
      <%= f.input :title %>
      <%= f.input :category %>
      <%= f.input :phone, input_html: { size: 50 }%>
      <%= f.input :format %>
      <%= f.input :space %>
      <%= show_simple_captcha %>
    </div>
    <div style='clear: both'></div>
    <div class="divider"></div>
    <%= f.submit 'Отправить заявку', class: 'btn' %>
  <% end %>
</div>
