<p>
  Поступила новая заявка от  <%= @proposal.performer  %>
</p>
<p>
  В номинациях <%= @proposal.nomination.map(&:text) %>
</p>
<p>
  Для аудитории <%= @proposal.auditory.map(&:text) %>
</p>
<p>
  Возраст <%= @proposal.age %>
</p>
<p>
  Адрес <%= @proposal.address %>
</p>
<p>
  Телефон <%= @proposal.phone %>
</p>
<p>
  E-mail <%= @proposal.email %>
</p>
<p>
  Произведение <%= @proposal.performance_name %> длительностью <%= @proposal.music %>
</p>
