<%= link_to 'Добавить участника', new_manage_participant_path %>
<table>
  <thead>
    <th>Имя участника</th>
    <th>Описание</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.full_name %></td>
        <td><%= participant.description %></td>
        <td><%= link_to "Редактировать", edit_manage_participant_path(participant) %></td>
        <td><%= link_to "Удалить", manage_participant_path(participant), method: 'DELETE', data: {confirm: "Удалить?"}%></td>
      </tr>
    <% end %>
  </tbody>
</table>
