<!DOCTYPE html>
<html>
  <head>
    <title>Школьная ярмарка в Томске - 2015</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='keywords' content='ярмарка, школьная ярмарка, школьная ярмарка в Томске, Томск, знайгород, изумрудный город, школьная ярмарка в изумрудном городе, изумрудный город Томск'/>
    <meta name='description' content='Томск. 2015. Ярмарка товаров для школы, где можно купить принадлежности и товары для школы со скидкой. «Купить дешево в школу к 1 сентября» - вот главный лозунг предстоящей ярморочной торговли. Цены, каталог школьных товаров, максимальные скидки на всю линейку товаров для школы.' />
    <meta name='title' content='Школьная ярмарка в Томске - 2015'/>
    <meta property="og:title" content='Школьная ярмарка в Томске - 2015'>
    <meta property="og:description" content='Томск. 2015. Ярмарка товаров для школы, где можно купить принадлежности и товары для школы со скидкой. «Купить дешево в школу к 1 сентября» - вот главный лозунг предстоящей ярморочной торговли. Цены, каталог школьных товаров, максимальные скидки на всю линейку товаров для школы.'>
    <meta property="og:image" content="https://pp.vk.me/c627628/v627628439/138f7/b3TFUq6HR6U.jpg">
  </head>
  <body>
    <div class="container-fluid">
      <div class="container main-wrapper">
        <!-- HEADER--!>
        <div class="row header-wrapper">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hidden-xs">
            <%= link_to image_tag('fair-logo.png', class: "img-responsive"), root_path %>
          </div>
          <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
            <div class="row navigation-wrapper">
              <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                <%= image_tag('navigation-text.png', class: "img-responsive") %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav center-block">
                  <li role="presentation" class="<%= 'active' if params[:event_id] == 'school-fair-about' %>"><%= link_to 'О ЯРМАРКЕ', about_fair_path %></li>
                  <li role="presentation" class="<%= 'active' if params[:event_id] == 'school-fair-participants' %>"><%#= link_to 'УЧАСТНИКИ', fair_participants_path %></li>
                  <li role="presentation" class="<%= 'active' if action_name == 'new' %>"><%= link_to 'ПОДАТЬ ЗАЯВКУ', new_proposal_path %></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-2 hidden-sm hidden-md hidden-lg button-wrapper">
            <div class="navbar-default">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hidden-xs">
            <div class="row organizators-wrapper">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <%= link_to image_tag('zg-logo.png', class: "img-responsive pull-right", alt: "Информационно-развлекательный портал ЗнайГород", title: 'Информационно-развлекательный портал ЗнайГород'), 'http://znaigorod.ru/', target: :_blank %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <%= link_to image_tag('emerald-logo.png', class: "img-responsive pull-right", alt: "Торгово-развлекательный комплекс Изумрудный город", title: 'Торгово-развлекательный комплекс Изумрудный город'), 'http://izumrudniy.tomsk.ru/', target: :_blank %>
              </div>
            </div>
          </div>
        </div>
        <!-- /HEADER -->

        <!-- CONTENT -->
        <div class="row content-wrapper">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <% if flash[:notice] %>
              <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= flash[:notice] %>
              </div>
            <% end %>
            <%= yield %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sponsors-wrapper">
            <div class="sponsors row">
              <h3 class="header">Партнеры проекта</h3>
              <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <%= link_to (image_tag 'alliance.png', alt: 'Продюссерский центр ARS-Альянс', title: 'Продюссерский центр ARS-Альянс', class: 'img-responsive'), 'http://www.ars-alliance.ru', target: :_blank %>
              </div>
              <div class="col-xs-6 col-sm-5 col-md-3 col-lg-3">
                <%= link_to (image_tag 'ohota.jpg', alt: 'Охота на свадьбу', title: 'Охота на свадьбу', class: 'img-responsive'), 'http://xn--80aaaedn3dga7ahup1i.xn--p1ai/', target: :_blank %>
              </div>
            </div>
          </div>
        </div>
        <!-- /CONTENT -->

      </div>
    </div>
    <div class="container-fluid footer-wrapper">
      <div class="container">
        <!-- FOOTER -->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h5>ПО ВОПРОСАМ УЧАСТИЯ:</h5>
            <p>Екатерина Мячина</p>
            <p>- менеджер по работе с клиентами</p>
            <p>+7-953-918-34-74</p>
            <p><%= mail_to "mev@znaigrod.ru" %></p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h5>ПО ВОПРОСАМ ПАРТНЕРСТВА:</h5>
            <p>Елена Бараксанова</p>
            <p>- куратор проекта</p>
            <p>+7-952-802-53-52</p>
            <p><%= mail_to "elena@znaigorod.ru"%></p>
          </div>
        </div>
        <%= render :partial => 'commons/metrika' if Rails.env.production? %>
        <!-- /FOOTER -->
      </div>
    </div>
  </body>
</html>
