<!DOCTYPE html>
<html>
  <head>
    <title>Томские таланты</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name='keywords' content='конкурс, Томские таланты, Томск, вокал, хореография, художественное слово, минута славы, декоративно - прикладное искусство'/>
    <meta name='description' content='Открытый конкурс «Томские таланты» — открытая арт-арена, творческая площадка, конкурс талантов, посвященный празднованию 410-летия г. Томска, проходящего в рамках Года культуры в России.'/>
    <meta name='title' content='Томские таланты'/>
  </head>
  <body>
    <div class="outside_wrapper"> <!-- background -->
      <% if flash[:notice]  %>
        <div class="notify_wrapper" align='center'>
          <div class="notify">
            <div class="notify_text">
              <%= flash[:notice] %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="sponsors">
        <div class="zg_sponsor"></div>
        <div class="alliance_sponsor"></div>
        <div class="csi_sponsor"></div>
        <div class="edro_sponsor"></div>
        <div class="duma_sponsor"></div>
      </div>
      <div class="navigation">
        <div class="links_wrapper">
          <span class="<%= 'selected' if action_name == 'send_request' %>"><%= link_to 'ЗАЯВКА', new_participant_path  %></span>
          <span class="<%= 'selected' if action_name == 'show_conditions' %>"> <%= link_to 'УСЛОВИЯ УЧАСТИЯ', show_conditions_path %></span>
          <span class="<%= 'selected' if action_name == 'about' %>"> <%= link_to 'О КОНКУРСЕ', about_path %></span>
        </div>
      </div>
      <div class="content_wrapper">
        <script type="text/javascript" src="//yastatic.net/share/share.js"charset="utf-8"></script>
        <div class="share_wrapper">
          <div class="yashare-auto-init" data-yashareL10n="ru"data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,gplus" data-yashareTheme="counter"></div>
        </div>
        <div class="content">

          <%= yield %>

        </div>
      </div>
    </div>
    <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter26554176 = new Ya.Metrika({id:26554176, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/26554176" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
  </body>
</html>
