<!DOCTYPE html>
<html>
<head>
  <title>Manage</title>
  <%= stylesheet_link_tag    'manage/application', media: 'all' %>
  <%= javascript_include_tag 'manage/application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <div class="left">
      <ul>
        <li class="<%= 'selected' if controller_name == 'events' %>"><%= link_to 'События', manage_events_path %></li>
        <li class="<%= 'selected' if controller_name == 'proposals' %>"><%= link_to 'Заявки', manage_proposals_path %></li>
        <li class="<%= 'selected' if controller_name == 'participants' %>"><%= link_to 'Участники', manage_participants_path %></li>
      </ul>
    </div>
    <div class="right">
      <%= yield %>
    </div>
  </div>
</body>
</html>
