<!DOCTYPE html>
<html>
<head>
  <title>School Fair Manage</title>
  <%= stylesheet_link_tag    'manage/application', media: 'all' %>
  <%= javascript_include_tag 'manage/application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <%= link_to image_tag('fair-logo.png', size: "75x50"), manage_root_path %>
      </div>
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if controller_name == 'events' %>"><%= link_to 'Страницы', edit_manage_event_path(event_for_nav) %></li>
        <li class="<%= 'active' if controller_name == 'proposals' %>"><%= link_to 'Заявки', manage_proposals_path %></li>
      </ul>
    </div>
  </nav>
  <div class="container manage_wrapper">
    <%= yield %>
  </div>
</body>
</html>
